<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
	<connectionStrings>
		<!-- Ask Collective2 for login/password. Send an e-mail to bob@collective2.com -->
		<add name="C2ExplorerData" connectionString="server=52.70.231.238;user id=YOUR-LOGIN-NAME;password=YOUR-PASSWORD;SslMode=None;database=explore;UseCompression=True" providerName="MySql.Data.MySqlClient" />
	</connectionStrings>
</configuration>